<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silva Burger</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Burger menu</h1>
        <p class="description">
          You're gonna need two hands to hold our toasted buns. Our fresh, juicy
          burgers are served up medium-well with a side of fries and a whole lot
          of flavor.
        </p>

        <div class="row">
          <div class="card">
            <div class="card_details">
              <div class="card_details-box">
                <h2>double burger</h2>
                <p class="price">$7.5</p>
                <div class="btns-container">
                  <a href="/product" class="btn btn-red">Read more</a>
                  <a href="/cart" class="btn btn-border">add to cart</a>
                </div>
              </div>
            </div>
            <img src="/images/burger-1.jpg" alt="burger image" />
          </div>
          <!-- <div class="card">
            <img src="/images/burger-2.jpg" alt="burger image" />
          </div>
          <div class="card">
            <img src="/images/burger-3.jpg" alt="burger image" />
          </div>
          <div class="card">
            <img src="/images/burger-4.jpg" alt="burger image" />
          </div> -->
        </div>
      </div>
    </main>
  </body>
</html>
