<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% product.name %></title>
    <link rel="stylesheet" href="/product.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <a href="/cart" class="btn btn-border">add to cart</a>
        <div class="red-container">
          <div class="img-box">
            <img src="<%= product.image %>" alt="<%= product.name %>" />
          </div>

          <div class="details">
            <h1><%= product.name %></h1>
            <p class="description">
              <%= product.description %>
              <a href="/payment" class="btn btn-red">make payment</a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
